
* {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    
}


  
body{
    background-image: url("C:/Universidad/Trabajo1/fond.jpg");
    
}
    


header{
    padding: 15px;  
}



#header h1 {
    color:  white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
    margin: 5px;

}

#header h3 { 
    color:  white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

}
 #intro h3 {
    border: outset;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px;
}

#intro p {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px;
    text-align: justify;

}

aside img {
    height: 200px;
    width: 20 px;
    padding-left: 50px;
    margin: 5px;
    
}

 
 #hskills h3 {
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: outset;
 }

#hskills ol li {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-align: justify;
     margin: 5px;
    
   
}

#contact li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    list-style-type: none;
    display:block;
    text-align: left;
   

}


 #contact li a:hover {
    text-decoration: none;
    
}

#contact h3{
    border: outset;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}



main h3{
    padding-top: 80px;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;    
}

main li{  

    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    list-style: none;
    text-align: justify;
    
}

main section li{
 
    text-align: center;
}




footer{
    text-align: center;
    border-top: double;
    clear: both;
    color:  white;
}

footer ul li{
    list-style: none;
}

table {
    position: absolute;
    text-align: center;
    border: double;
    width: 50%;
   left: 280px;

}

table th{  
    color: white;
    background-color:darkred ;
    font-family: Arial, Helvetica, sans-serif;
}

table tr{  
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-right: double;
}

aside{
    width: 20%;
    padding-bottom: 5px;
    float: left;
    background-color: rgb(143, 51, 51);

}

section{
    position: relative;
    float: left;
    width: 80%;
    padding-left: 17px;
    padding-bottom: 305px;
    background-color: rgb(168, 164, 164);
    border: groove;
}