
* {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}



#header h1 {
    color: #0431A7;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
    margin: 5px;

}

#header h3 {
    color: #0431A7;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

}
 #intro h3 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    
}

#intro p {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
   
    text-align: justify;

}

aside img {
    height: 200px;
    width: 100 px;
    padding-left: 50%;
    margin: 5px;
  
}

 
 #hskills h3 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
 }

#hskills ol li {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-align: justify;
    
   
}

#contact li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: darkslategrey;
    list-style-type: none;
    display:block;
    text-align: left;
   
    


}

 #contact li a:hover {
    text-decoration: none;
    
}

#contact h3{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/*body{
    display: inline-flex;
}*/

main h3{
  
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0431A7;
    
}

main li{   
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    list-style: none;
  
 
}


footer{
    text-align: center;
    border-top: double;
    clear: both;
    color: darkslategrey;
}

footer ul li{
    list-style: none;
}

table{
    text-align: right;
}

aside{
    width: 40%;
    float: left;
    background-color: white;
}

section{
    float: left;
    width: 60%;
    padding-left: 20px;
    padding-bottom: 145px;
    background-color: darkslategrey;
}